<% layout('./public/layout') %>
<style>
    .login-form {
        width: 75rem;
        height: 25.75rem;
        position: 35px;
        top: 30%;
        margin-top: -1.375rem;
        left: 35%;
        margin-left: -12.5rem;
        background-color: #ffffff;
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }
</style>


<div class="container  login-form o padding 2000px block-shadow block-shadow">


          <div class="col-md-3">
              <a href="/buybooks/" class="list-group-item "> Categorias</a>
        <div class="list-group">
          <% for(var y=0 ; y<categories.length;y++) {%>
            <a href="/buybooks/<%= categories[y]._id %>" class="list-group-item ">
    <%= categories[y].name %>
            </a>
    <%}%>
    </div>
  </div>


<% for(var x =0;x<books.length;x++) {%>

<div class="col-md-3">
<div class="thumbnail">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0Y8-F6JNf0poWhhVUkwpCrfmKAYPZxzs-MOaBu9SWbVOWToKM"/>
<div class="caption">
<h3><%= books[x].title %></h3>
<p><%= books[x].ISBN %></p>
<p><%= books[x].authors %></p>
</div>
</div>
</div>
<%}%>
</div>
</div>
